	------
	File Loader Extension Examples
	------

EpsExtensions - File Loader Extension - examples

* Event flow with only File Collection IO Input Adapter

	This flow scan ERBS_A and ERBS_B directory every minute, and send an event if retrieves new .bin files.

+-------------------------------+

<?xml version="1.0" encoding="UTF-8"?>
<FlowDefinition xmlns="urn:com:ericsson:schema:xml:oss:fbp_flow"
        xmlns:oc="urn:com:ericsson:schema:xml:oss:oss_common" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        oc:ns="com.ericsson.oss.services" oc:name="TopologySolutionSet"
        oc:version="1.0.0">

        <oc:modelCreationInfo author="author" creationDate="today">
            <oc:designedModel componentId="topologycomponent" />
        </oc:modelCreationInfo>

        <oc:desc>Scan dir and "ERBS_A, ERBS_B" send event with new files found</oc:desc>

        <!-- Define all input adapters here -->

        <!-- Scans 'ERBS' directory every second, looking only for new xml files -->
        <input name="fileCollectionInput">
            <attribute name="uri" value="fileCollection:/" />
            <attribute name="parentDirectoryPath" value="target/files" />
            <attribute name="directoryList" value="ERBS_A, ERBS_B" />
            <attribute name="fileRegex" value=".*.bin$" />
        </input>
        <!-- End -->

        <!-- Define all output adapters here -->
        <output name="fileIoOutput">
            <attribute name="uri" value="hazelcast:/" />
            <attribute name="channelName" value="test_file_io_output-topic" />
        </output>
        <!-- End -->


        <!-- Define all Paths here -->
        <path>
            <from uri="fileCollectionInput" />
            <to uri="fileIoOutput" />
        </path>
        <!-- End -->

</FlowDefinition>

+-------------------------------+

* Event flow with sorting and routing to multiple output adapters

	This flow scan ERBS directory every second retrieving xml files, and dispatch them between three
        destinations depending from source node.

+-------------------------------+

<?xml version="1.0" encoding="UTF-8"?>
<FlowDefinition xmlns="urn:com:ericsson:schema:xml:oss:fbp_flow"
        xmlns:oc="urn:com:ericsson:schema:xml:oss:oss_common" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        oc:ns="com.ericsson.oss.services" oc:name="TopologySolutionSet"
        oc:version="1.0.0">

        <oc:modelCreationInfo author="author" creationDate="today">
            <oc:designedModel componentId="topologycomponent" />
        </oc:modelCreationInfo>

        <oc:desc>Loads files and dispatch them between three destinations</oc:desc>

        <!-- Define all input adapters here -->

<!-- Scans 'ERBS' directory every second, looking only for new xml files -->
        <input name="fileCollectionInput">
            <attribute name="uri" value="fileCollection:/" />
            <attribute name="intialDelayMilliseconds" value="0" />
            <attribute name="intervalValueMilliseconds" value="1000" />
            <attribute name="parentDirectoryPath" value="target/files" />
            <attribute name="directoryList" value="ERBS" />
            <attribute name="fileRegex" value=".*.xml$" />
            <attribute name="ignoreDotLastFile" value="false" />
        </input>
        <!-- End -->

        <!-- Threading handler, bundled in EPS -->
        <step name="threading">
            <handler>
                <className>com.ericsson.oss.services.eps.builtin.components.ThreadManagementComponent</className>
            </handler>
            <attribute name="threadPoolSize" value="10" />
            <attribute name="threadPriority" value="9" />
        </step>

        <!-- Sorting input handler -->
        <input name="sortA">
            <handler>
                <className>com.ericsson.component.aia.services.exteps.ioadapter.file.FileRopSorterEventHandler</className>
            </handler>
        </input>

        <!-- Router input handler -->
        <input name="router">
            <handler>
                <className>com.ericsson.component.aia.services.exteps.ioadapter.file.FileToLocalOutputRouter</className>
           </handler>
        </input>

        <!-- Define all output adapters here -->
        <output name="hcOutputA">
            <attribute name="uri" value="hazelcast:/" />
            <attribute name="channelName" value="test_file_io_output-topic-A" />
        </output>

        <output name="hcOutputB">
            <attribute name="uri" value="hazelcast:/" />
            <attribute name="channelName" value="test_file_io_output-topic-B" />
        </output>

        <output name="hcOutputC">
            <attribute name="uri" value="hazelcast:/" />
            <attribute name="channelName" value="test_file_io_output-topic-C" />
        </output>
        <!-- End -->


        <!-- Define all Paths here -->

        <path>
            <from uri="fileCollectionInput" />
            <to uri="threading" />
            <to uri="sort" />
            <to uri="router" />
        </path>

        <path>
            <from uri="router" />
            <to uri="hcOutputA" />
        </path>

        <path>
            <from uri="router" />
            <to uri="hcOutputB" />
        </path>

        <path>
            <from uri="router" />
            <to uri="hcOutputC" />
        </path>

        <!-- End -->

</FlowDefinition>

+-------------------------------+
