	------
	IO adapter for Solr Module - Performance Statistics
	------

IO adapter for Solr Module - Performance Statistics


* Instrumentation

 If {{{${nexusRootUrl}/${epsDocs}/jmx-statistics.html}EPS statistics}} collection is enabled,
  SolrOutputAdapter provides the following custom metrics:

*-------------------------------------------+-------------------+-----------------------------------------------------------------+
|| Measurement name                         || Statistics Type  || Description                                                    |
*-------------------------------------------+-------------------+-----------------------------------------------------------------+
| SolrOutputAdapter@solrRecordsReceived     | Meter             | Incremented for every event received,                           |
|                                           |                   | includes events which will not be indexed successfully.         |
*-------------------------------------------+-------------------+-----------------------------------------------------------------+
| SolrOutputAdapter@solrRecordsIndexed      | Meter             | Incremented for every event which is successfully indexed.      |
*-------------------------------------------+-------------------+-----------------------------------------------------------------+
