	------
	EPS Extensions - Creation Guidelines
	------

EPS Extensions creation guidelines

	The Extensions creation guidelines are available
        {{{https://arm101-eiffel004.lmera.ericsson.se:8443/nexus/content/sites/cds/EventProcessingService/latest/create-an-extension-set.html}here}}
        in the EPS documentation.
